@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Protest+Riot&display=swap');

body{
    font-family: 'Merriweather',Arial, Helvetica, sans-serif;
    background-color: #e78895;
    color: #dddada;
    width: 100%;
    margin: 0;
}



h1{
    text-align: center;
    font-size: 40px;
}

h2{
    margin: 5px 5px 5px 5px;
    font-weight: bold;
    font-size: 16px;
}

.main{
    margin: 10px;
}


.main p{
    font-size: 13px;
    margin: 10px;
}


.container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.picture-1{
    text-align: center;
    border: 1px solid;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 6px;
    background-color: #fff;
    
   
}

.picture-1 img{
    border-radius: 6px 6px 0 0;
    width: 250px;
    
}

.t-1{
    position: relative;
    text-align: justify;
    width: 250px;
    display: block;

}

.t-1 p{
    font-size: 10px;
    padding: 5px;
    color: rgb(96, 95, 95);
}


.last{
    margin: 25px;
    font-size: 13px;
    text-align: justify;
}

.lastpart{
    margin-top: 50px;
}